<td class="column40"> {{id}} </td>
<td class="column160"> {{ownerName}} </td>
<td class="column120"> {{dateString}} </td>
<td class="column60"> {{hours}} </td>
<td class="column160"> {{compensation}} </td>
<td class="column80"> {{status}} </td>
<td class="column120"> {{payrollChecked}} </td>
<td class="column120"><button type="button" class="btn btn-primary payrollcheck">Check</button></td>
<td class="column120"><a class="btn btn-primary deleteRequest" data-toggle="modal" href="#delRequestModalWin" role="button">Delete</a></td>
